CAIL2019-SCM
ECSpell-main
ECSpell-law/output
cail2022
CAIL2019-master
MuCGEC-main
macbert
macbert-finetune
csc_sample
back/__pycache__
__pychache__
.idea/
.ipynb_checkpoints/
*.docx
*.pptx
*.xlsx
*.doc
*.ppt
*.xls
